@model EuConto.Models.Story.ChapterSectionModel
@using EuConto.Models.Story;

<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

<style>
    .textareaStoryChapterSection {
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        outline: none;
        width: 900px;
    }

    div[contenteditable] {
        overflow: auto;
        height: auto;
        min-height: 600px;
        text-align: left;
        padding: 20px;
    }
</style>

<div class="container" style="margin-top: 100px;">
    <section>
        <div class="row mx-1">
            <div class="col-md-12 mb-5">
                <div class="card card-cascade wider reverse">

                    <div class="card-body card-body-cascade text-center">
                        <h5 class="dark-grey-text pb-2 pt-1"><i class="fas fa-archive mr-2"></i> < @Model.Story.Gender ></h5>

                        <h4 class="card-title"><strong>@Model.Story.Title</strong></h4>

                        <p class="card-text">
                            @Model.Story.Description
                        </p>
                    </div>

                    <div class="container">
                        <section>

                            <div class="row mx-1">
                                <div class="col-md-12 mb-5">
                                    <div class="card card-cascade wider reverse">
                                        <div class="card-body card-body-cascade text-center">
                                            <h2 class=""><strong>Capítulo</strong></h2>

                                            <div class="text-center">
                                                <div class="md-form">
                                                    <H3>@Model.Chapter.Title</H3>
                                                </div>

                                                <div class="md-form">
                                                    <p>@Model.Chapter.Description</p>
                                                </div>
                                            </div>

                                            <div class="container-fluid">
                                                <section>

                                                    <div class="row mx-1">
                                                        <div class="col-md-12 mb-5">
                                                            <div class="card card-cascade wider reverse">
                                                                <div id="sections" class="editable" style="overflow: auto; height: auto; text-align: left; padding: 20px;">
                                                                    @if (Model.Sections.Count > 0)
                                                                    {
                                                                        foreach (SectionModel Section in Model.Sections)
                                                                        {
                                                                            @Html.Raw(Section.Text);
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>