@model EuConto.Models.UserModels.BarUserMenuModel

@if (Model.LoggedIn)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-md-left dropdown-default"
             aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="@Url.RouteUrl("Profile", new { userId = '0' })">Meu Perfil</a>
            <a class="dropdown-item" href="@Url.RouteUrl("UserStorys")">Minhas Estórias</a>
            <a class="dropdown-item" href="@Url.RouteUrl("Logout")">Sair</a>
        </div>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-md-left dropdown-default"
             aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="@Url.RouteUrl("Login")">Login</a>
            <a class="dropdown-item" href="@Url.RouteUrl("Register")">Registre-se</a>
        </div>
    </li>
}
